<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PetsApp</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <bod
    y>
        <div class="column center">
            <button id="btnCadastrar">Cadastrar</button>
            <button id="btnListar">Listar</button>
        </div>

        <div id="result"></div>

        <script type="text/javascript" src="ajax2.js"></script>
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>